.highlight {
	background-color:yellow;
}
.box_round {
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;


-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.center {
	text-align: center;
}
.polaroid {
	padding: 10px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	background-image: -webkit-linear-gradient(top, #fff 85%, #eee);
	background-image: -moz-linear-gradient(top, #fff 85%, #eee);
	background-image: linear-gradient(top, #fff 85%, #eee);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
	margin-bottom: 30px;
}

.polaroid2 {
	padding: 10px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	background-image: -webkit-linear-gradient(top, #fff 85%, #eee);
	background-image: -moz-linear-gradient(top, #fff 85%, #eee);
	background-image: linear-gradient(top, #fff 85%, #eee);
	-webkit-transform: rotate(+3deg);
	-moz-transform: rotate(+3deg);
	transform: rotate(+3deg);
	margin-bottom: 30px;
}